.Results {
  .ResultsCard {
    background-color: transparent;
    .ResultList {
      background-color: transparent;
      .ResultItem {
        background-color: transparent;
        .ResultLink {
        }
      }
    }
  }
}
