.Results {
  .ResultsCard {
    background-color: transparent;
    .ResultList {
      background-color: transparent;
      .ResultItem {
        background-color: var(--sfggc-gray-800);
      }
    }
  }
}
