.JumbotronImage {
  padding-bottom: 0;
  margin-bottom: 0.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/images/golden_gate_bridge.jpg');
  background-position: 0 0;
  min-height: 10rem;

  h1 {
    font-weight: 200;
    line-height: 1.1;
    text-shadow: 1px 1px 10px black, 0 0 20px black;
  }
}
@media (min-width: 576px) {
  .JumbotronImage {
    min-height: 14rem;
  }
}
@media (min-width: 768px) {
  .JumbotronImage {
    min-height: 28rem;
  }
}

.Title {
  color: white;
}
.Year {
  color: #E16E37;
}
.PhotoCredit {
  text-align: right;
}
