.SanFrancisco {
  //--sfgc-card-link-color: var(--sfggc-link-color);
  //--sfgc-card-link-hover-color: var(--sfggc-link-hover-color);

  padding-left: 0.5rem;
  padding-right: 0.5rem;

  // This is a pretty text-heavy page, so dim the background a bit more than we would otherwise.
  background-color: rgba(0, 0, 0, 0.3);

  .JumboImage {
    position: relative;
    margin: 0.25rem auto;

    height: 25vh;
    width: 100%;
    @media (min-width: 768px) {
      height: 45vh;
    }

    // Adds an overlay to the image to dim it as needed.
    .CityDaytimeColor {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 2;
      background-color: black;
      opacity: var(--sfggc-image-shade-opacity);
    }

    .CityDaytimeImage {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
      background-repeat: no-repeat;
      background-position: 0 25%;
      background-size: cover;

      background-image: url('../../images/san-francisco/sf-downtown-600w.jpg');

      @media (min-width: 768px) {
        // Go progressively bigger
        //background-image: url('../../images/san-francisco/cable-car-transamerica.jpg');
      }
    }
  }

  .Credit {
    text-align: center;
    font-size: 80%;
    margin-bottom: 0.5rem;
  }

  .Content {
    .Intro {
    }

    .Thing {
      margin-bottom: 1rem;
      background-color: transparent;

      .Image {
        position: relative;
        overflow: hidden;
        max-height: 10rem;

        .Img {
          width: 100%;
          height: auto;
          z-index: 1;
        }

        .ImageShade {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: 2;
          background-color: black;
          opacity: var(--sfggc-image-shade-opacity);
        }
      }

      // an image in a card that will flip from vertical to horizontal at the
      // small breakpoint (576px wide)
      .FlippyImage {
        overflow: hidden;
        max-height: 10rem;
        position: relative;

        @media (min-width: 576px) {
          max-height: none;
        }
        @media (min-width: 768px) {
          max-height: 10rem;
        }

        .Img {
          width: 100%;
          height: auto;

          @media (min-width: 576px) {
            height: 100%;
            object-position: 20% center;
            object-fit: cover;
          }
        }

        .ImageShade {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: 2;
          background-color: black;
          opacity: var(--sfggc-image-shade-opacity);
        }
      }

      .ExternalLink {

      }

      .HighTemp {
        color: var(--sfggc-red);
      }

      .LowTemp {
        color: var(--sfggc-blue);
      }
    }

    .MoreLink {
      text-align: right;
      padding-bottom: 1rem;
      margin-bottom: 0;
    }
  }
}
