.Beneficiary {
  margin: 0 0.5rem;

  .ImageContainer {
    margin: 0 -0.5rem 1rem;

    background-color: rgba(0,0,0, 0.4);

    .Image {
      width: 100%;
      [data-bs-theme="dark"] & {
        filter: brightness(80%);
      }
    }
  }

  .Mission {
    margin-left: 1.5rem;
  }
}
