.Hero {
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  padding-bottom: 1rem;

  .BackgroundImage {
    background-image: url('../../images/bg/ggb-vertical-600w.jpg');

    @media (min-width: 768px) {
      background-image: url('../../images/bg/ggb-vertical-991w.jpg');
    }

    @media (min-width: 992px) {
      background-image: url('../../images/bg/ggb-vertical-fullsize.jpg');
    }
  }

  .BackgroundShade {
    opacity: 0.4;

    [data-bs-theme='dark'] & {
      opacity: 0.75;
    }
  }

  .Content {
    text-align: center;

    .Title {
      font-family: var(--sfggc-title-font-family);
      font-size: calc(2rem + 5vw);
      margin-bottom: 2.5rem;
    }

    .Subtitle {
      font-size: calc(1.25rem + 3vw);
      margin-bottom: 2.5rem;
    }

    .Dates {
      font-size: calc(1.125rem + 2.6vw);
      margin-bottom: 1rem;
    }

    .Weekend {
      font-size: calc(1rem + 2.5vw);
      margin-bottom: 2.5rem;
    }
  }
}
