.Committee {
  margin: 0 0.5rem;

  .Intro {
    @media (min-width: 768px) {
      //  ...
    }
  }
  .Card {
    text-align: center;
    margin-bottom: 0.5rem;

    background-color: var(--sfggc-body-color);
    color: var(--sfggc-body-bg);
    border-color: var(--sfggc-body-bg);

    text-shadow: none;

    a {
      text-shadow: none;
      color: var(--sfggc-card-link-color);

      &:hover, &:active {
        color: var(--sfggc-link-hover-color);
      }
    }

    .Face {
      padding: 0.5rem;

      .Placeholder {
        font-size: 450%;
        opacity: .75;
      }
    }
    .Image {
      [data-bs-theme='dark'] & {
        filter: brightness(65%);
      }
    }
    .Name {
      font-weight: bold;
    }
    .Role {
      margin-bottom: 0;
    }

  }

  .Thanks {
    .Photo {
      width: 50%;
      margin-bottom: 1rem;

      @media (min-width: 768px) {
        width: 80%;
      }
    }
  }

}
