.Committee {
  margin: 0 0.5rem;

  .Intro {
    ;
  }
  .Card {
    text-align: center;
    .Face {
      padding: 0.5rem;

      .Placeholder {
        font-size: 450%;
        opacity: .75;
      }
    }
    .Image {
      [data-bs-theme='dark'] & {
        filter: brightness(65%);
      }
    }
    .Name {
      font-weight: bold;
    }
    .Role {
      margin-bottom: 0;
    }

  }
}
