.Sponsors {
  .Row {
    background-color: var(--sfggc-sponsor-logo-bg);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    .ImageContainer {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;

      .AdjustedBrightness {
        [data-bs-theme='dark'] & {
          filter: brightness(85%);
        }
      }
    }
  }
}
